{% extends 'base.html' %}


{% block css %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 400px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        .but {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        .yo {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

        .but:hover, a:hover {
            opacity: 0.7;
        }
    </style>

{% endblock %}

{% block body %}

    <div class="card" style="margin-top: 30px">
        <img src="{{ url_for('static', filename='images/sowad.jpeg') }}" alt="John" style="width:100%">
        <h1 style="font-size: 24px"><b>Sowad Ahmed</b></h1>
        <p class="title">Lieutenant</p>
        <p>Bangladesh Army</p>
        <div style="margin: 24px 0;">
            <a href="#" class="yo"><i class="fa fa-dribbble"></i></a>
            <a href="#" class="yo"><i class="fa fa-twitter"></i></a>
            <a href="#" class="yo"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="yo"><i class="fa fa-facebook"></i></a>
        </div>
        <p>
            <button class="but">Contact</button>
        </p>
    </div>
    <hr>
    <div class="card" style="margin: auto;
width: 60%;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);padding: 28px;">
        <div class="container" >

            <div class="image" style="background: yellow;">

                <h2 style="justify-content: center">C O N T A C T &nbsp;&nbsp; N O W</h2>

            </div>
        </div>

        <br>
        <div class="container align-content-md-center" >

            <form action="{{ url_for('submit_contact_message') }}" method="post">
                <div class="mb-3">
                    <label for="user_name" class="form-label">Username</label>
                    <input type="text" name="user_name" class="form-control" id="user_name" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Your Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                              placeholder="Write your message here" name="message_text"></textarea>
                </div>

                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>

    </div>
{% endblock %}